@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

* {
   margin: 0px;
   padding: 0px;
}

.nomination-pending {
   padding: 0rem 1rem;
   height: 100%;

   &-title-head {
      min-height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &-card {
      width: 100%;

      h2 {
         margin: 0px;
      }

      p {
         margin: 0px;
      }
   }
   &-card-large {
      width: 100%;

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      p {
         margin: 0px;
      }
   }

   &-card-header {
      border-bottom: 1px solid #c5d4df;
      background: $color-light-blue-1;
      display: flex;
      justify-content: flex-start;
      min-height: 157px;
      padding: 10px 20px;
      // opacity: 0.07;

      .MuiStepConnector-lineHorizontal {
         border-top-style: dashed;
         border-top-width: 1px;
      }

      .MuiPaper-root {
         background: transparent;
      }
   }
   &-card-body {
      padding: 1.875rem;

      h3 {
         margin: 0px;
         font-size: 1.125;
         color: $color-dark-gray;
         padding-bottom: 8px;
      }
      p {
         font-size: 0.875rem;
         line-height: 24px;
      }
   }

   &-content {
      padding-bottom: 30px;
   }

   &-card-small {
      width: 100%;
      padding: 1.25rem;

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      h5 {
         color: $color-dark-gray;
         margin-bottom: 7px;
         opacity: 0.6;
         font-weight: 600;
         font-size: 14px;
      }

      p {
         margin: 0px;
      }
   }

   &-list {
      border-bottom: 1px solid $color-light-blue;
      padding: 10px 0;

      .img-profile {
         border-radius: 50%;
         width: 27px;
         height: 27px;
      }

      p {
         color: $color-dark-gray;
         font-size: 0.875rem;
         font-weight: bold;
         padding-left: 5px;
      }
   }

   .MuiButton-contained {
      box-shadow: none;
   }
   .MuiStepIcon-root.MuiStepIcon-active {
      color: $color-green;
   }
   .MuiStepIcon-root.MuiStepIcon-completed {
      color: $color-green;
   }
   .MuiButton-label {
      text-transform: capitalize;
   }

   .MuiStepLabel-labelContainer {
      width: 100%;
      margin-top: 10px;
   }
}

.w-100 {
   width: 100%;
}
.flex {
   display: flex;
}

.mr-l15 {
   margin-left: 15px !important;
}
