@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 75px;
   background: #fff;
   padding: 0.625rem 2rem 1.875rem;

   &-logo {
      img {
         @include maxRes(land) {
            max-width: 95%;
         }
      }
   }

   &-profile {
      display: flex;
      align-items: center;

      .profile-name {
         font-size: 14px;
         text-transform: capitalize;
         color: $color-dark-gray;
         font-weight: 400;

         @include maxRes(phone) {
            font-size: 12px;
         }
      }
      .m-l20 {
         margin-left: 20px;

         @include maxRes(tab) {
            margin-left: 10px;
         }
      }
   }
   &-profile-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-avatar-name {
      img {
         width: 41px;
         height: 41px;
         margin-left: 2rem;

         @include maxRes(tab) {
            width: 35px;
            height: 35px;
         }
      }
   }
}
