.dashboard-card.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded:hover {
   // background: $color-primary !important;
   box-shadow: 0px 0px 10px #afb4c9e8;
   // color: $color-white !important;
}

.MuiOutlinedInput-root {
   border-radius: 8px !important;
}
.MuiInputBase-root // For login icon
{
   color: #d0cecf !important;
}

.MuiPaper-rounded {
   border-radius: 19px !important;
}
.MuiPaper-elevation1 {
   box-shadow: 0px 3px 6px #afb4c929 !important;
}
.main {
   min-height: calc(100vh - 168px);
   padding: 0px 10px 0;
   background: $color-light-gray;
   margin-top: -30px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.w-100 {
   width: 100%;
}
.img-fluid {
   max-width: 100%;
}
.reward {
   .MuiPagination-ul {
      display: flex;
      justify-content: center;
      margin-top: 25px !important;
   }

   .MuiPagination-ul li:first-child {
      box-shadow: 0px 3px 6px #00000024;
      border-radius: 5px;
      margin-right: 12px;
   }
}

.style-one {
   width: 100%;
   border: 0;
   height: 1px;
   background: $color-light-blue;
}

h2 {
   font-size: 24px;
   color: $color-dark-gray;
   font-weight: bold;
}
