@import './src/scss/absctract/export-abstract';
// @import './src/scss/main.scss';

.dashboard {
   padding: 2rem 1rem;
   height: 100%;

   @include maxRes(tab) {
      padding: 2rem 0.5rem;
   }

   &-card {
      width: 100%;
      background: url('/images/Box_Bg.svg') center right no-repeat;
      background-position-y: center;

      &:hover {
         box-shadow: 0 0 .4rem rgba($color-black, 0.5) !important;
      }

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      p {
         margin: 0px;
      }
   }

   &-card-large {
      width: 100%;

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      p {
         margin: 0px;
      }
   }

   &-chart-header {
      border-bottom: 1px solid #d1e0e7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 34px;
      padding: 10px 20px;

      h3 {
         margin: 0px;
         font-size: 18px;
         color: $color-dark-gray;
      }
   }

   &-chart-body {
      display: flex;
      justify-content: flex-start;
   }

   &-bottom-card {
      margin-top: 3.125rem !important;

      @include maxRes(tab) {
         margin-top: 0.9375rem;
      }

      .border-r {
         border-right: 2px solid $color-light-blue;

         @include maxRes(tab) {
            border-right: none;
         }
      }

      h3 {
         font-size: 18px;
         color: $color-dark-gray;
         font-weight: 400;
      }
   }

   &-card-bottom-l {
      h3 {
         font-size: 18px;
         color: $color-dark-gray;
         font-weight: 400;
      }
   }

   &-card-bottom-r {
      @include maxRes(tab) {
         padding: 15px;
      }

      h3 {
         font-size: 18px;
         color: $color-dark-gray;
         padding-top: 14px;
         font-weight: 400;
      }
   }

   .recharts-wrapper {
      width: 100% !important;
      height: 290px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include maxRes(tab) {
         flex-direction: column;
      }
   }

   .recharts-legend-wrapper {
      top: 0px !important;
      display: flex !important;
      align-items: center !important;
      height: 100% !important;
      width: 35% !important;
      line-height: 40px;
      right: 30px !important;

      @include maxRes(land) {
         position: initial !important;
         width: 85% !important;
      }

      ul li {
         border-bottom: 1px dashed $color-light-blue !important;
         padding-bottom: 2px;
      }

      ul li:last-child {
         @include maxRes(tab) {
            border-bottom: none !important;
         }
      }

      .recharts-default-legend {
         width: 100% !important;
      }
   }

   .MuiPaper-elevation1 {
      box-shadow: 0px 3px 6px #afb4c929;
   }
}

.dashboard-badge {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
}

.box {
   // margin: 0 -0.5rem;

   &-item {
      padding: 0 0.5rem;
      margin-bottom: 1.5rem;

      @include maxRes(tab) {
         padding: 0 0.3rem;
      }
   }

   &-block {
      background-color: $color-white;
      box-shadow: 0 0 0.5rem rgba($color-black, 0.17);
      border-radius: 0.9rem;
      // padding: 0.3rem;
      min-height: 3.4375rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      padding: 5px;

      h4 {
         text-align: center;
         margin-top: 5px;
      }

      p {
         text-align: center;
      }
   }

   .color-1 {
      color: $color-pink;
      font-size: 16px;
      font-weight: 600;
   }

   .color-2 {
      color: $color-dark-blue;
      font-size: 16px;
      font-weight: 600;
   }

   .color-3 {
      color: $color-teal-blue;
      font-size: 16px;
      font-weight: 600;
   }

   .color-4 {
      color: $color-dark-pink;
      font-size: 16px;
      font-weight: 600;
   }

   .color-5 {
      color: $color-dark-red;
      font-size: 16px;
      font-weight: 600;
   }

   .color-6 {
      color: $color-brown;
      font-size: 16px;
      font-weight: 600;
   }

   .color-7 {
      color: $color-silver;
      font-size: 16px;
      font-weight: 600;
   }

   .color-8 {
      color: $color-yellow;
      font-size: 16px;
      font-weight: 600;
   }

   .Bronze {
      color: $color-brown-light;
      font-size: 14px;
      font-weight: 400;
   }

   .Silver {
      color: $color-silver-light;
      font-size: 14px;
      font-weight: 400;
   }

   .Gold {
      color: $color-yellow-light;
      font-size: 14px;
      font-weight: 400;
   }
}

.box-item:last-child {
   padding-right: 0px;
}

.mt-15 {
   margin-top: 15px;
}

.mtb-45 {
   margin: 45px 0;
}

.p-10 {
   padding: 10px;
}

.m-b10 {
   margin-bottom: 10px;
}

.flex-col-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}