@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70px;
   background: $color-light-gray;
   padding: 0px 25px;

   p {
      font-size: 14px;
      color: $color-dark-gray;
      opacity: 0.4;
   }
}
