@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

.reward {
   padding: 2rem 1rem;
   height: 100%;

   .MuiTableCell-root {
      padding: 10px 30px;

      @include maxRes(tab) {
         padding: 5px 25px;
      }
   }
}

.table {
   @media (max-width: 767px) {
      min-width: 800px;
   }
}

.pagination {
   ul {
      align-items: stretch;

      li {
         background-color: $color-white;
         box-shadow: 0px 3px 3px rgba($color-black, 0.11);
         display: flex;
         align-items: center;

         button {
            margin: 0;
         }

         &:last-child {
            margin-left: 15px;
            border-radius: 6px;
         }
      }
   }
}
