@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

* {
   margin: 0px;
   padding: 0px;
}

.nominations {
   padding: 0rem 1rem;
   height: 100%;

   &-title-head {
      min-height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .MuiTableCell-alignCenter {
      text-align: left;
   }

   .MuiInputBase-input {
      padding: 10px;
   }

   .MuiIconButton-root {
      color: $color-light-blue;
   }

   .MuiTableCell-root {
      padding: 12px 35px;

      @include maxRes(tab) {
         padding: 5px 25px;
      }
   }

   .MuiTableCell-root {
      border-bottom: none;
   }

   .NominationList-table-4 {
      margin-left: 20px;
      margin-right: 20px;
   }

   .NominationList-checkboxalign-7 {
      margin-left: 0px;
   }


}

table.table {
   border-collapse: separate;
   border-spacing: 0 0.5rem;
   table-layout: fixed;

   tbody {
      tr {
         border-radius: 5px;

         &:hover {
            box-shadow: 0 1px 5px rgba($color-black, 0.30) !important;
         }
      }
   }
}


.pagination {
   ul {
      align-items: stretch;

      li {
         background-color: $color-white;
         box-shadow: 0px 3px 3px rgba($color-black, 0.11);
         display: flex;
         align-items: center;
         margin-top: 5px;

         button {
            margin: 0;
         }

         &:last-child {
            margin-left: 15px;
            border-radius: 6px;
         }
      }
   }

   .MuiPagination-ul {
      display: flex;
      justify-content: center;
      margin-top: 25px !important;
   }

   //    .nomination-list p {
   //       color: #242021;
   //       font-size: 0.875rem;
   //       font-weight: bold;
   //       padding-right: 30px;
   //    }
}