@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
}

@mixin maxRes($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 36em) {
      /*mx-width:576px*/
      @content;
    }
  }

  @if $breakpoint == tab {
    @media (max-width: 47.9375em) {
      /*mx-width:767px*/
      @content;
    }
  }

  @if $breakpoint == land {
    @media (max-width: 61.9375em) {
      /*mx-width:991px*/
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (max-width: 74.9375em) {
      /*mx-width:1199px*/
      @content;
    }
  }

  @if $breakpoint == lap {
    @media (max-width: 85.375em) {
      /*mx-width:1366px*/
      @content;
    }
  }

  @if $breakpoint == huge {
    @media (max-width: 90em) {
      /*mx-width:1440px*/
      @content;
    }
  }

  @if $breakpoint == extraHuge {
    @media (max-width: 120em) {
      /*mx-width:1920px*/
      @content;
    }
  }
}

@mixin minRes($breakpoint) {
  @if $breakpoint == tab {
    @media (min-width: 48em) {
      /*mi-width:768px*/
      @content;
    }
  }

  @if $breakpoint == land {
    @media (min-width: 62em) {
      /*mi-width:992px*/
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      /*mi-width:1200px*/
      @content;
    }
  }

  @if $breakpoint == lap {
    @media (min-width: 85.4375em) {
      /*mi-width:1367px*/
      @content;
    }
  }

  @if $breakpoint == huge {
    @media (min-width: 90.0625em) {
      /*mi-width:1441px*/
      @content;
    }
  }

  @if $breakpoint == extraHuge {
    @media (min-width: 120.0625em) {
      /*mi-width:1921px*/
      @content;
    }
  }
}

@mixin minmaxRes($breakpoint) {
  @if $breakpoint == tab-land {
    @media (min-width: 48rem) and (max-width: 62em) {
      /* mi-width: 768px > mx-width: 992px */
      @content;
    }
  }
  @if $breakpoint == land-desk {
    @media (min-width: 62rem) and (max-width: 75em) {
      /* mi-width: 992px > mx-width: 1200px */
      @content;
    }
  }
}

@mixin center($direction, $val: $value) {
  @if $direction == vertical {
    top: $val;
    bottom: $val;
    transform: translate(0, -#{$val});
  }

  @if $direction == center {
    top: $val;
    left: $val;
    transform: translate(-#{$val}, -#{$val});
  }

  @if $direction == horizontal {
    left: $val;
    right: $val;
    transform: translate(-#{$val}, 0);
  }
}

@mixin font-pack(
  $size: $font-size-body,
  $weight: $font-weight,
  $family: $font-primary,
  $color: $color-black
) {
  font-size: #{$size}rem;
  font-weight: $weight;
  font-family: $family, sans-serif;
  color: $color-black;
}

@function divide($a, $b) {
  @return $a/$b;
}

// --------------------------------------------------
// Flexbox SASS mixins
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}
