$color-primary: #3d358f;
$color-secondary: #74329c;
$color-secondary-1: #692495;

$color-black: #000;
$color-white: #fff;

$color-dark-blue: #819aac;
$color-light-blue: #c5d4df;
$color-light-blue-1: #fbfcfd;

$color-light-gray: #f5f6fa;
$color-dark-gray: #242021;
$color-pink: #e52954;
$color-dark-pink: #c13389;
$color-dark-blue: #4b1f6c;
$color-teal-blue: #0092b5;
$color-dark-red: #b10927;
$color-brown: #9a5c30;
$color-brown-light: #dda77b;
$color-silver: #949293;
$color-silver-light: #c9c9c9;
$color-yellow: #e5b208;
$color-yellow-light: #fcc902;
$color-green: #65bc6b;
