@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

.login {
   height: 100%;
   background: url('/images/bg.png') center right no-repeat;
   background-size: contain;

   &-form {
      flex: 1;
      padding: 2rem;
   }

   &-graphic {
      flex: 1;
      padding: 1rem 1rem 1rem 2rem;
      text-align: center;

      img {
         max-width: 85%;

         @include maxRes(huge) {
            text-align: center;
            max-width: 90%;
         }
      }

      &-layout {
         width: 100%;
         .copyright {
            padding-top: 2rem;
            padding-bottom: 1rem;
            text-align: center;
            color: darken($color-light-gray, 35%);
         }
      }
   }

   .form {
      width: 100%;

      &-ullogo {
         margin-bottom: 4.5rem;

         @include maxRes(tab) {
            margin-bottom: 2rem;
         }

         img {
            max-width: 100%;
         }
      }

      &-group {
         display: block;
         width: 100%;
         margin-bottom: 1.25rem;
      }

      &-button-action {
         color: $color-white;
         border-radius: 10px;
      }

      &-forgot {
         font-size: 14px;
         color: $color-primary;
         margin-bottom: 1.25rem;
         text-align: center;
      }
   }
}
