@import './src/scss/absctract/export-abstract';
@import './src/scss/main.scss';

* {
   margin: 0px;
   padding: 0px;
}

.team-nominations {
   padding: 1.375rem 1.5rem;
   height: 100%;

   &-card {
      width: 100%;

      h2 {
         margin: 0px;
      }

      p {
         margin: 0px;
      }
   }
   &-card-large {
      width: 100%;

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      p {
         margin: 0px;
      }
   }

   &-card-header {
      border-bottom: 1px solid #c5d4df;
      background: $color-light-blue;
      display: flex;
      justify-content: flex-start;
      min-height: 157px;
      padding: 10px 20px;
      // opacity: 0.07;

      .MuiStepConnector-lineHorizontal {
         border-top-style: dashed;
         border-top-width: 1px;
      }

      .MuiPaper-root {
         background: transparent;
      }
   }
   &-card-body {
      padding: 1.875rem;

      h3 {
         margin: 0px;
         font-size: 1.125;
         color: $color-dark-gray;
         padding-bottom: 8px;
      }
      p {
         font-size: 0.875rem;
         line-height: 24px;
      }
   }

   &-comment {
   }

   &-comment-container {
      border: 1px solid $color-light-blue;
      border-radius: 5px;
      padding: 11px 17px;
   }

   &-content {
      padding-bottom: 30px;
   }

   &-card-small {
      width: 100%;
      padding: 1.25rem;

      h2 {
         margin: 0px;
         font-size: 3.125rem;
      }

      h5 {
         color: $color-light-blue;
         margin-bottom: 5px;
      }

      p {
         margin: 0px;
      }
   }

   &-list {
      border-bottom: 1px solid $color-light-blue;
      padding: 10px 0;

      .img-profile {
         border-radius: 50%;
         width: 27px;
         height: 27px;
      }

      p {
         color: $color-dark-gray;
         font-size: 0.875rem;
         font-weight: bold;
         padding-left: 5px;
      }
   }
}

.w-100 {
   width: 100%;
}
.flex {
   display: flex;
}
.mr-l15 {
   margin-left: 15px !important;
}
